[submodule "hackswayimg"]
	path = hackswayimg
	url = git@github.com:nicolasbrailo/hackswayimg.git
[submodule "wl-display-toggle"]
	path = wl-display-toggle
	url = git@github.com:nicolasbrailo/wl-display-toggle.git
[submodule "pipresencemon"]
	path = pipresencemon
	url = git@github.com:nicolasbrailo/pipresencemon.git
