[submodule "wl-display-toggle"]
	path = wl-display-toggle
	url = git@github.com:nicolasbrailo/wl-display-toggle.git
[submodule "pipresencemon"]
	path = pipresencemon
	url = git@github.com:nicolasbrailo/pipresencemon.git
[submodule "pi_gpio_mon"]
	path = pi_gpio_mon
	url = git@github.com:nicolasbrailo/pi_gpio_mon.git
[submodule "hackwaytext"]
	path = hackwaytext
	url = git@github.com:nicolasbrailo/hackwaytext.git
[submodule "homeboard_ambience"]
	path = homeboard_ambience
	url = git@github.com:nicolasbrailo/homeboard_ambience.git
[submodule "mostlyhackswayimg/swayimg"]
	path = mostlyhackswayimg/swayimg
	url = https://github.com/artemsen/swayimg.git
