[Unit]
Description=ambience
After=network-online.target wayfire.service

[Service]
Environment=XDG_RUNTIME_DIR=/home/batman/run WAYLAND_DISPLAY="wayland-1" DISPLAY=""
ExecStart=/home/batman/homeboard/bin/pipresencemon /home/batman/homeboard/cfg/pipresencemon.cfg
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=3s
User=batman

[Install]
WantedBy=network-online.target wayfire.service
